<div>
	<h2>Cart</h2>
	<table border="1px solid black">
		<thead>
			<tr>
				<td>ITEM</td>
				<td>QTY</td>
				<td>PRICE</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<img src="https://rukminim1.flixcart.com/image/832/832/book/9/9/4/horoscope-2017-original-imaempnhzsrskf4h.jpeg" height="50" width="50">
					<p>HOROSCOPE 2017 : Your Complete Forecast</p>
				</td>
				<td>1</td>
				<td>Rs. 1800</td>
			</tr>
			<tr>
				<p align="right">Estimated Total: Rs. 1800</p>
			</tr>
		</tbody>
	</table>
	<button>Place Order</button>
	{{#link-to 'main'}}
		<button>Continue Shopping</button>
	{{/link-to}}
</div>

{{outlet}}
