<div>
	<h2>Horoscope book</h2>
	 <img src="https://rukminim1.flixcart.com/image/832/832/book/9/9/4/horoscope-2017-original-imaempnhzsrskf4h.jpeg" height="200" width="200" >
	<p>
	This is the complete forecast for the year 2017 with weekly forecasts for all signs, important dates for all signs, all - inclusive information about every sign of the zodiac, world horoscope, key dates, plus a range of riveting information from the ace astrologer on the way things will shape up in 2017.</p>
	<p>Cost:Rs1800</p>
	<button>Add to Cart</button>
</div>
{{outlet}}
