<div class="container-fluid" style="text-align:center"><h1>Login</h1>
	<h4>Username</h4>{{input type="text" placeholder="Enter your username."}}
	<h4>Password:</h4>{{input type="password" placeholder="Enter your password."}}
	<br><br>
	<button {{action 'login'}}>Login</button>
</div>



