<h2>List of available products</h2>
<div>
	{{#link-to "description"}}
	    <h2>Horoscope</h2>
	    <img src="https://rukminim1.flixcart.com/image/832/832/book/9/9/4/horoscope-2017-original-imaempnhzsrskf4h.jpeg"    
	    height="200" width="200" >
	{{/link-to}}
</div>
{{outlet}}

