<div>
	<h2>Product Categories</h2>
	<div>
		{{#link-to "listing"}}
		     <h2>Novels</h2>
		    <img src="https://tventp.files.wordpress.com/2011/07/design-book-2.jpg" >
		{{/link-to}}
	</div>
	{{outlet}}
</div>